<div fxFlex=100 class="main" fxLayout='row' fxLayoutAlign='center center' >
  <mat-card fxFlex=30 fxFlex.md=40 fxFlex.sm=50 fxFlex.xs=100>  
      <div fxLayout="column">
          <div fxLayout='row' fxLayoutAlign='center center'>
            <span class="l1">F</span>
            <span class="l2">u</span>
            <span class="l3">n</span>
            <span class="l4">d</span>
            <span class="l5">o</span>
            <span class="l6">o</span>
          </div>
          
          <div fxLayoutAlign="center center" fxFlexOffset="5">
              <mat-card-header>
                <mat-card-title>Account Recovery</mat-card-title>
              </mat-card-header>
          </div>
          <div fxLayoutAlign="start center" fxFlexOffset="0">
              <h5>Enter Email Address. </h5>
          </div>
          <div>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email address</mat-label>
                <input matInput name="email address" [formControl]="userName" required>
                <mat-error *ngIf="userName.invalid">
                  {{userNameErrorMessage()}}
                </mat-error>
              </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">

              <div>
                <a href=""  (click)="Login">Signin instead</a>
              </div>
              <div>
                <button mat-raised-button (click)="Submit()"  color="primary">Submit</button>
              </div>
          </div>
      



        </div>

  </mat-card>
</div>
