.main{
    height: -webkit-fill-available;
}

.example-full-width-1
{
   width  : 100%;
}
.exaple-width-1{
    width : 100%;
}
.exaple-width-2{
    width : 100%;
}

.l1{
    font-size: 40px;
    font-family: sans-serif;
    color:blue;
}
.l2{
    font-size: 40px;
    font-family: sans-serif;
    color:red;
}
.l3{
    font-size: 40px;
    font-family: sans-serif;
    color:orange;
}
.l4{
    font-size: 40px;
    font-family: sans-serif;
    color:blue;
}
.l5{
    font-size: 40px;
    font-family: sans-serif;
    color:green;
}
.l6{
    font-size: 40px;
    font-family: sans-serif;
    color:red;
}

.userName{
    width: 100%;
}
.password-val{
    width: 100%;
}